.newsletter-form
	input
		display block
		size(100%, 58px)
		padding 4px 17px
		margin-top 25px
		border none
		-webkit-appearance none
		background-color: colors.cinza-claro-3
		text-transform uppercase
		color: colors.cinza-claro-4
		font-weight bold
		font-size 16px
		
		&[type="submit"]
			cursor pointer
			background-color: colors.vermelho
			color: colors.branco
			transition transform .3s ease
			
			&:hover
				transform scale(1.02)