@font-face {
    font-family: "AkkuratPro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/akkrgpro1.eot?#iefix") format("embedded-opentype"), 
    	 url("../fonts/akkrgpro1.woff") format("woff"),
    	 url("../fonts/akkrgpro1.ttf") format("truetype"), 
    	 url("../fonts/akkrgpro1.svg#AkkuratPro") format("svg");
}

@font-face {
    font-family: "AkkuratPro";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/akkbdpro1.eot?#iefix") format("embedded-opentype"),
    	 url("../fonts/akkbdpro1.woff") format("woff"),
    	 url("../fonts/akkbdpro1.ttf") format("truetype"),
    	 url("../fonts/akkbdpro1.svg#AkkuratPro") format("svg");
}

@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"), 
         url("../fonts/icomoon.ttf") format("truetype"), 
         url("../fonts/icomoon.woff") format("woff"), 
         url("../fonts/icomoon.svg#icomoon") format("svg");
}