@font-face {
	font-family: 'AkkuratPro';
	src: url('../fonts/AkkuratPro-Regular.eot');
	src: url('../fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkkuratPro-Regular.woff') format('woff'),
		url('../fonts/AkkuratPro-Regular.ttf') format('truetype'),
		url('../fonts/AkkuratPro-Regular.svg#AkkuratPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/AkkuratPro-Regular_1.eot');
	src: url('../fonts/AkkuratPro-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkkuratPro-Regular_1.woff') format('woff'),
		url('../fonts/AkkuratPro-Regular_1.ttf') format('truetype'),
		url('../fonts/AkkuratPro-Regular_1.svg#AkkuratPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/AkkuratPro-Bold_1.eot');
	src: url('../fonts/AkkuratPro-Bold_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkkuratPro-Bold_1.woff') format('woff'),
		url('../fonts/AkkuratPro-Bold_1.ttf') format('truetype'),
		url('../fonts/AkkuratPro-Bold_1.svg#AkkuratPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}