footer {
	width: 100%;
	height: 270px;
	background-color: $footer-bg-color;
	p{
		color: #fff;
		font-family: 'Akkurat Pro';
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
	}
}

#menu-menu-3{
	margin-top: 0;
	list-style: none;
	padding: 0;
	li{
		font-family: 'Akkurat Pro';
		font-weight: bold;
		text-transform: uppercase;
		a{
			border-bottom: none;
			padding: 0;
			color: #fff;
		}
	}
}

.footer-content{
	margin-top: 65px;
}

#logo-footer{
	width: 133px;
	height: 133px;
	display: block;
	background:url(../images/logo.svg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo-partner{
	width: 73px;
	height: 63px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	background: url(../images/partner.png);
}

#social-footer {
	list-style: none;
	padding: 0;
	li{
		margin-right: 5px;
		display: inline-block;
		a{
			width: 32px;
			height: 32px;
			display: inline-block;
			text-align: center;
			color: $footer-bg-color;
			padding-top: 7px;
			background-color: #a69ba3;
		}
	}
}

.cities{
	display: flex;
}

.city{
	text-align: center;
	width: 33%;
}

.city-icon{
	margin: 0 auto;
	margin-bottom: 15px;
}

#sp{
	width: 79px;
	height: 60px;
	background: url(../images/sp.svg) no-repeat center top;
}

#rio{
	width: 92px;
	height: 60px;
	background: url(../images/rj.svg) no-repeat center top;
}

#ctb{
	width: 92px;
	height: 60px;
	background: url(../images/ctb.svg) no-repeat center top;	
}

.signature{
	border-top: 1px solid #fff;
	padding-top: 15px;
	margin-top: 15px;
}
