.hero{
	width: 100%;
	height: 770px;
	display: block;
	background: url(../images/banner1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-content {
	color: #fff;
	margin-top: 15%;
	padding-left: 15%;
	h1{
		font-family: 'Akkurat Pro';
		font-weight: bold;
		font-size: 49px;
		text-transform: uppercase;
		letter-spacing: -2px;
		margin-bottom: 0;
	}
	h3{
		font-size: 18px;
		line-height: 170%;
	}
}

.subtitle-hero {
	padding: 0;
}

.brand{
	a{
		width: 165px;
		height: 155px;
		display: block;
		margin-top: 25px;
		background: url(../images/logo.svg) no-repeat center top;
		p{
			display: none;
		}
	}
}

.secondary-nav{
	margin-top: 30px;
}

#social{
	display: inline-block;
	list-style: none;
	padding: none;
	margin-bottom: 43px;
	li{
		display: inline-block;
		text-align: center;
		font-size: 12px;
		margin-right: 20px;
		a{
			width: 30px;
			height: 30px;
			color: #fff;
			padding-top: 6px;
			display: inline-block;
			border: 2px solid #fff;
			@include transition(0.2s);
		}
	}
}

#social li a:hover {
	background-color: $main-color;
	border-color: $main-color;
}

.translate-icon{
	width: 30px;
	height: 30px;
	font-family: 'Akkurat Pro';
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	padding-left: 5px;
	padding-top: 6px;
	display: inline-block;
	border: 2px solid #fff;
	float: right;
	@include transition(0.2s);
	&:hover{
		color: #fff;
		text-decoration:none;
		background-color: $main-color;
		border-color: $main-color;
	}
}

#menu-menu-1 {
	list-style: none;
	padding: 0;
	width: 100%;
	position: relative;
	li{
		display: inline-block;
		width: 115px;
		padding: 0;
		text-align: left;
		margin: 0;
		font-family: 'Akkurat Pro';
		font-weight: bold;
		margin-right: 25px;
		a{
			font-size: 13px;
			text-transform: uppercase;
			color: #fff;
			display: inline-block;
			width: 100%;
			padding-bottom: 5px;
			border-bottom: 4px solid rgb(255,255,255);
			margin: 0;
		}
	}
	li:nth-last-child(1){
		margin-right: 0;
	}
}

#menu-menu-1 a:hover {
	text-decoration: none;
}

.translate-icon{
	font-family: 'Akkurat Pro';
	font-weight: bold;
}

.red-numbers{
	margin-top: 5%;
}

.red-numbers-header{
	width: 100%;
	border-bottom: 1px solid #fff;
	h4{
		font-family: 'Akkurat Pro';
		font-size: 13px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.red-numbers-content{
	display: flex;
	margin-top: 20px;
}

.red-numbers-item{
	text-align: center;
	color: #fff;
	border-right: 1px solid;
	padding: 10px 20px;
	h3{
		font-family: 'Akkurat Pro';
		font-weight: bold;
		font-size: 48px;
		margin: 15px 0 5px 0;
	}
	p{
		font-family: 'Akkurat Pro';
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 30px;	
	}
}

.red-numbers-item:nth-last-child(1){
	border-right: none;
}