/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .hero{height: 650px;}
    .hero-content{ background-color: red; margin-top: 8%;}

    #menu-menu-1 li{
        margin-right: 5px;
    }
    
    .hero-content{
        padding-left: 0;
    }

    .brand a{
        height: 135px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .hero{
        height: 510px;
    }

    #social{
        li{
            margin-right: 5px;
        }
    }

    .hero-content{ background-color: blue;}

    .red-numbers{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hero-content{ background-color: green;}

    .content-title{
        background: $main-color;
    }

    .post{
        width: 100%;
    }

    .index-bg{
        background: #fff;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .hero-content{ background-color: purple;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .hero-content{ background-color: black;}
}