@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/akkbdpro1.eot');
	src: url('../fonts/akkbdpro1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/akkbdpro1.woff') format('woff'),
		url('../fonts/akkbdpro1.ttf') format('truetype'),
		url('../fonts/akkbdpro1.svg#akkbdpro1') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/akkrgpro1.eot');
	src: url('../fonts/akkrgpro1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/akkrgpro1.woff') format('woff'),
		url('../fonts/akkrgpro1.ttf') format('truetype'),
		url('../fonts/akkrgpro1.svg#akkrgpro1') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="symbol--"], [class*=" symbol--"] 
{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.symbol--squared-cross:before {
  content: "\e600";
}
.symbol--cross:before {
  content: "\e601";
}
.symbol--squared-tick:before {
  content: "\e602";
}
.symbol--googleplus:before {
  content: "\e603";
}
.symbol--search:before {
  content: "\f002";
}
.symbol--twitter:before {
  content: "\f099";
}
.symbol--facebook:before {
  content: "\f09a";
}
.symbol--linkedin:before {
  content: "\f0e1";
}
.symbol--document:before {
  content: "\f0f6";
}
.symbol--arrow-left:before {
  content: "\f104";
}
.symbol--arrow-right:before {
  content: "\f105";
}
.symbol--arrow-down:before {
  content: "\f107";
}