/* Main */
_base-font-size 					= 16px
_site-width 						= 1170px

/* Bower overrides */
rolleiflex.spaces.padding			= 15px
rolleiflex.spaces.gutter			= 30px
rolleiflex.baseFontSize 			= _base-font-size
rolleiflex.use.em 					= false
rolleiflex.build.declarative 		= true
rolleiflex.breakpoints.lg.container = _site-width

bp = rolleiflex.breakpoints
rupture.base-font-size 				= _base-font-size
rupture.scale 						= 0 (bp.sm.breakpoint) (bp.md.breakpoint) (bp.lg.breakpoint)
rupture.scale-names 				= keys(rolleiflex.breakpoints)
rupture.anti-overlap 				= true
rupture.enable-em-breakpoints 		= false
rupture.mobile-cutoff 				= bp.sm.breakpoint
rupture.tablet-cutoff 				= bp.md.breakpoint
rupture.desktop-cutoff 				= bp.md.breakpoint
/* End Bower */

/* Colors */

colors = {
	'branco': #fff,
	'preto': #000,
	'vermelho': #d71920,
	'salmao': #f04934,
	'cinza': #939598,
	'cinza-claro-1': #fafbfb,
	'cinza-claro-2': #f1f2f2,
	'cinza-claro-3': #e6e7e8,
	'cinza-claro-4': #aaa1a8,
	'cinza-rosado': #584951,
}

/* Fonts */

fonts = {
	'body': 'Akkurat Pro',
	'menu-header': 'Akkurat Pro'
	'menu-footer': 'Akkurat Pro'
}

/* Margins */

margins = {

}