.h-img-responsive
	max-width 100%
	display block
	height auto
	
.h-center-block
	margin-left auto
	margin-right auto
	
.h-inline-list
	font-size 0
	> li
		font-size _base-font-size
		display inline-block
	
.h-bold
	font-weight bold
	
.h-bg-w
	background-color: colors.branco
	
.h-bg-g
	background-color: colors.cinza-claro-1