.remodal-overlay
	background-color rgba(88,73,81,0.85)
	
.remodal-close
	left auto
	right 30px
	top 26px
	color: colors.vermelho
	
	&:hover
		color: colors.vermelho
	
	&::before
		font-size 42px
		
.remodal
	padding 35px 60px
	

.wpcf7-not-valid
	border: 2px solid colors.vermelho !important
	
span.wpcf7-not-valid-tip
	display none;
	
.screen-reader-response
	display none
	
.ajax-loader
	margin 5px auto
	display block